<p>Añadir comentario: </p>

<form action="/quizes/<%=quizid%>/comments" method="POST">
    <input type="text" id="comment" name="comment[texto]" value="" required /> <br>
    <button type="submit">Enviar</button>
</form>