<h2>Login</h2>


<form action="/login" method="post">
    <div>
        <label for="login">Login: </label><br>
        <input type="text" id="login" name="login" size="30" />
    </div><br>
    
    <div>
        <label for="password">Password: </label><br>
        <input type="text" id="password" name="password" size="30" />
    </div><br>
    
    <div>
        <input type="submit" name="commit" value="Login">
    </div><br>
</form>